* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #3a1a00;
}

.navbar .logo img {
    width: 50px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.cart {
    display: flex;
    align-items: center;
    color: #fff;
}

.hero {
    background-image: url('../IMG/blog\ header.jpg');
    color: #ffffff;
    text-align: center;
    padding: 50px 0;
}

.blog-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #f8f8f8;
    margin-bottom: 40px;
    border-radius: 10px;
}

.blog-content {
    flex: 1;
    padding-right: 20px;
}

.blog-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.blog-content p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.blog-image {
    flex: 1;
    padding-left: 20px;
}

.blog-image img {
    width: 100%;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
