
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('../IMG/login\ vid.mov'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    overflow: hidden;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6); /* Decrease opacity to 0.8 */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.logo img {
    max-width: 200px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.form-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    gap: 5px;
}

.form-options label {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.form-options label input[type="checkbox"] {
    margin-right: 10px; /* Add space between checkbox and Remember Me */
}

.forgot-password {
    align-self: flex-start;
    font-size: 14px;
    margin-left: 25px; /* Adjust for proper positioning under Remember Me */
    color: #3a1a00;
    text-decoration: none;
}

.login-btn {
    background-color: #3a1a00;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
}

.signup-link {
    margin-top: 20px;
}

.signup-link p {
    font-size: 14px;
}

.signup-link a {
    color: #3a1a00;
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 12px;
}

footer p {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .login-container {
        width: 90%;
        padding: 20px;
    }
}
