* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
  }
  
  body {
    font-family: 'Arial', sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #3a1a00;
  }
  
  .navbar .logo img {
    width: 50px;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .cart {
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  .hero {
    background-image: url('../IMG/instrument\ vid.mp4');
    color: #ffffff;
    text-align: center;
    padding: 50px 0;
  }
  
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
  }
  
  .product {
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .product:hover {
    transform: scale(1.05);
  }
  
  .product img {
    width: 150px;
    height: 200px; 
    object-fit: cover; 
  }
  
  .product h3 {
    margin: 15px 0 10px;
  }
  
  .product p {
    color: #cfa380;
    font-weight: bold;
  }
  
  .add-to-cart {
    background-color: #cfa380;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .add-to-cart:hover {
    background-color: #a64b45; 
  }
  
  @media (max-width: 768px) {
    .products {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 480px) {
    .products {
      grid-template-columns: 1fr; 
    }
  }